body {
	font-family: 'Open Sans', sans-serif;
	margin: 0;
	color: #666;
}

a {
	text-decoration: none;
}

.site-container {
	width: 940px;
	margin: 0 auto;
	background-color: #efefef;
	padding: 20px;
}

.header {
	display: flex;
	flex-direction: row;
	background-color: #FFF;
}
.logo {
	padding: 10px;
}
.menu {
	padding-top: 20px;
	margin-left: 20px;
}

.menu a,.menu a:visited , .menu a:active {
	padding: 17px;
	border: 1px solid #33e6ff;
	color: #666;
	font-size: 18px;
}

.menu a::after  {
	content: ">";
	margin-left: 5px;
}

.menu a:hover  {
	background-color: #efefef;
}

div.footer {
	margin-top: 20px;
	width: 100%;
	padding: 20px 0 20px 0;
	background-color: #333;
	text-align: center;
	color: #efefef;
}

.message-box {
	padding: 15px;
	margin-bottom: 20px;
	border: 1px solid transparent;
	border-radius: 4px;
}

div.error {
	color: #a94442;
	background-color: #f2dede;
	border-color: #ebccd1;
}
h2 {
	padding-bottom: 10px;
	border-bottom: 1px solid #33e6ff;
}
/** style forms & input elements **/

form {
	width: 30%;
}

.form-row {
	margin-bottom: 10px;
}

label {
	width: 100%;
	display: block;
	margin-bottom: 5px;
	text-transform: capitalize;
}
label.required::after {
	content: "*";
	color: red;
	margin-left: 5px;
}
input, textarea, select {
	width: 100%;
	padding: 10px;
	font-size: 14px;
	border: 1px solid #999;
	border-radius: 2px;
}

input[type=submit] {
	padding: 10px;
	width: 100px;
	color: #FFF;
	background-color: #5cb85c;
	border: 1px solid #4cae4c;
	border-radius: 2px;
}
/** end style forms & input elements **/
a.editable {
	padding: 3px 7px;
	color: #FFF;
	background-color: #33e6ff;
	border-radius: 2px;
}
a.removable {
	padding: 3px 7px;
	color: #FFF;
	background-color: #a94442;
	border-radius: 2px;
}

/** style the tables **/
table {
	width: 100%;
}
table td, table th {
	font-size: 14px;
	padding: 15px;	
}

table th {
	background-color: #333;
	color: #FFF;
}

tr:nth-child(2n) {
	background-color: #FFF;
	color: #333;
}
/** end style the tables **/