/** Common **/
body {
    font-size: 16px;
    margin: 0;
}

.light-grey-bg {
    background-color: #efefef;
}

.grey-bg {
    background-color: #333;
}

.blue-bg {
    background-color: #add8e6;
}

.white-bg {
    background-color: white;
}

.row {
    width: 100%;
}

.inner-row {
    width: 1080px;
    margin: auto;
    padding: 30px;
}

.clear {
    clear: both;
}

ul {
    list-style-type:  none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

/** End common **/

.top-header {
    padding-top: 30px;
    color: #333;
}
.top-header .details {
    float: left;
    /* font-weight: bold; */
    font-size: 26px;
}
.top-header .top-links {
    float: right;
}

.top-header .top-links li {
    display: inline;
    padding-right: 5px;
    font-size: 14px;
}

.top-header .top-links li::after {
    content: "|";
    padding-left: 5px;
}
.top-header .top-links li.last {
    padding-right: 0;
}
.top-header .top-links li.last::after {
    content: "";
}

.top-header .top-links li a {
    color: #333;
}

.header .logo {
    float: left;
}

.header .main-menu {
    float: left;
    margin-left: 60px;
    margin-top: 10px;
}

.header .main-menu ul {
    padding: 20px;
    background-color: white;
}

.header .main-menu li {
    display: inline;
    font-size: 22px;
    margin-right: 15px;
}

.header .main-menu li:last-child {
    margin-right: 0px;
}

.header .main-menu li a {
    color: #333;
}

.header .main-menu li a:hover {
    color: #add8e6;
}

/** end header **/

/** hero content **/
.row .inner-row .hero-content {
    width: 50%;
    text-align:center;
    margin: 0 auto;
}


.hero-content  {
    color: #333;
}

.hero-content h1 {
    font-size: 40px;
    margin: 0px;
    padding-bottom: 10px;
    border-bottom: 1px solid #fff;
}
