<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<title>App :: Classic Models</title>

<link href="${appPath}static/css/style.css" rel="stylesheet">	
</head>
<body>