/**
	Common Style.
*/

div.header {
	width: 940px;
	margin: 0 auto;
	text-align: center; 
	background-color: #efefef; 
	padding: 50px;
	font-size: 20px;
}

div.left {
	float: left;
}
div.right {
	float: right;
}
div.logo {
	margin-right: 100px;
}

div.clear {
	clear: both;
}

table {
	border:  1px solid #999;
}

table td, table th {
	padding: 12px;
	font-weight: 500;
	font-family: fantasy;
}
table th {
	font-weight: bold;
	background-color: #666;
	color: #fff;
}


/**
Home page styling
*/
div.introduction {
	margin-bottom: 50px; 
	text-align: center; 
	background-color: #333333; 
	color: #fff; 
	padding: 20px;"
}
div.introduction p {
	font-size: 20px;
}

.home-links {
	text-align: center;
}

.home-links a {
	border-radius: 5px;
	color: #fff; 
	background-color: #333; 
	padding: 15px;
	text-transform: uppercase;
}
/** ------------ end -------------- */
div.container {
	width: 940px;
	color: #333;
	font-family: sans-serif;
	margin: 20px auto;
	background-color: #efefef;
	border: 3px solid #666;
	border-radius: 20px;
	padding: 20px;
}